body {
    background-color: #000;
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#quote {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-align: center;
    width: 20%;
    line-height: 1.5;
    color: white;
    z-index: 10;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    pointer-events: none; /* Ensure the text does not interfere with canvas interactions */
}
